.main-container
  #search-methods-container
    %ul#search-methods-selector
      %li= link_to 'Facet', root_path
      %li= link_to 'Sequence', genomes_path
      %li= link_to 'Identifier', mappings_path
      %li.current Text
      %li.search-methods-visibility-button Hide

    #methods
      .method-container#sequence-container
        .inner
          = form_tag(search_text_index_path, method: :get, class: 'form-search') do
            = search_field_tag 'q', params[:q], class: 'input-xlarge'
            = button_tag 'search', class: 'tg-button'
          .small-note
            %p Search Text (e.g., "PCC7120" )

  #genomes.row-fluid
    - if @error
      .alert.alert-error
        = @error
    - unless @result.blank?
      %ul
        - @result.each do |stanza|
          %li
            - url = URI.encode_www_form_component(stanza[:stanza_url])
            - q = URI.encode_www_form_component(@q)
            %a{href: "/stanza/#{url}/search?q=#{q}", target: '_blank'}= stanza[:name]
            = "(#{stanza[:count]})"
