%h2 Stanza Name
%p= @stanza[:name]

%h2 Stnaza URL
%p= @stanza[:url]

%h2 Count
%p= @stanza[:count]

%h2 Result
- if @stanza[:attrs].empty?
  %p No Results Found
- @stanza[:attrs].each do |stanza_attr|
  %p= link_to_report_page(@stanza[:report_type], stanza_attr)
  %div{data: stanza_prefix(@stanza[:url], stanza_attr)}

= content_for :javascript do
  = javascript_include_tag "#{Stanza.providers.togostanza.url}/assets/stanza.js"
