%h2 Stanza Name
%p= @stanza[:name]

%h2 Stnaza URL
%p= @stanza[:url]

%h2 Count
%p= @stanza[:count]

%h2 Result
= paginate @entry_ids

- if @entry_ids.empty?
  %p No Results Found
- @entry_ids.each do |entry_id|
  %p= link_to_report_page(@stanza[:report_type], entry_id)
  %div{data: stanza_prefix(@stanza[:url], entry_id)}

= content_for :javascript do
  = javascript_include_tag "#{Stanza.providers.togostanza.url}/assets/stanza.js"
