%h2 Stanza Name
%p= @result[:name]

%h2 Stnaza URL
%p= @result[:stanza_url]

%h2 Count
%p= @result[:count]

%h2 Result
- if @result[:urls].empty?
  %p No Results Found
- @result[:urls].each do |url|
  %p= url
  %div{data: url2stanza_params(url)}

= content_for :javascript do
  = javascript_include_tag "#{Stanza.providers.togostanza.url}/assets/stanza.js"
