.main-container
  #search-methods-container
    = render 'shared/header', current: :sequence

    #methods
      .method-container#sequence-container
        .inner
          = form_tag(sequence_search_path, method: :get, class: 'form-search') do
            = search_field_tag 'fragment', params[:fragment], class: 'input-xlarge'
            = button_tag 'Search', class: 'tg-button'
          .small-note
            %p Search genomic sequences by an arbitrary sub-string of any DNA sequence fragments (e.g., "TGGAATTGTGAGCGGATAACAATT" for <i>lac</i> operator reported by <a href="http://www.ncbi.nlm.nih.gov/pubmed/4587255" target="_blank">Gilbert W and Maxam A, 1973</a>)


  #genomes.row-fluid
    - if @error
      .alert.alert-error
        = @error
    - elsif params[:fragment]
      %ul.nav.nav-tabs
        %li.active
          %a{href: "#sequence", data: {toggle: :tab}} Sequence
        %li
          %a{href: "#organism", data: {toggle: :tab}} Organism

      .tab-content
        #sequence.tab-pane.active
          - if @genomes.present?
            = render 'genome_table', genomes: @genomes
          - else
            Not found.
        #organism.tab-pane
          - if @organisms.present?
            = render 'organism_table', organisms: @organisms
          - else
            Not found.
