:coffeescript
  $ ->
    $('form').on "submit", (e) ->
      e.preventDefault()

      selectTag    = $('select#category')
      searchTarget = selectTag.find(':selected').data('searchTarget')

      switch searchTarget
        when 'category'
          @.action = "#{text_index_path}"
          selectTag.attr('name', 'category')
        when 'stanza'
          @.action = "#{text_search_path}"
          selectTag.attr('name', 'stanza_id')

      @.submit()

= form_tag(text_search_path, method: :get, class: 'form-search') do
  .form-line
    = select_tag :category, options_for_select(stanza_collection, selected)
    %span
      = search_field_tag 'q', query, class: 'input-xlarge'
    = button_tag 'Search', class: 'tg-button'
.small-note
  %p Search Text (e.g., "PCC7120" )
