= javascript_include_tag 'stanza_search'

= form_tag(text_search_path, method: :get, class: 'form-search') do
  .form-line
    = select_tag :category, options_for_select(stanza_collection, selected)
    %span.input-area= search_field_tag 'q', query, class: 'input-xlarge'
    %span= button_tag 'Search', id: :search_button, class: 'tg-button'
    %span= button_tag 'Clear', id: :reset_button, class: 'tg-button clear', type: 'reset'
.small-note
  %p Search Text (e.g., "PCC7120" )
