.main-container
  #search-methods-container
    = render 'shared/header', current: :text

    #methods
      .method-container#textsearch-container
        .inner
          = render 'form', query: params[:q], selected: params[:category]

  #stanzas.row-fluid
    - if @error
      .alert.alert-error
        = @error
    - unless @stanzas.blank?
      %table#results.table.table-striped.table-bordered.table-condensed
        %thead
          %td Gene
          %td Organism
          %td Environments
          %td Phenotypes
        %tr
          %td= render 'count_list', query: params[:q], stanzas: @stanzas['genes']
          %td= render 'count_list', query: params[:q], stanzas: @stanzas['organisms']
          %td= render 'count_list', query: params[:q], stanzas: @stanzas['environments']
          %td= render 'count_list', query: params[:q], stanzas: @stanzas['phenotypes']
