.main-container
  #search-methods-container
    = render 'shared/header', current: :text

    #methods
      .method-container#textsearch-container
        .inner
          = render 'form', query: params[:q], selected: params[:category]

  #stanzas.row-fluid
    - if @error
      .alert.alert-error
        = @error
    - if @stanzas
      - report_types = report_tabs.map { |hash| hash[:type] }
      %ul.nav.nav-tabs
        - report_types.each do |type|
          %li{class: params[:category] == type ? 'active' : nil}
            %a{href: "##{type}", data: {toggle: :tab, category: type.to_sym}}= type.capitalize

      .tab-content
        - report_types.each do |type|
          .tab-pane{id: type, class: params[:category] == type ? 'active' : nil}
            = render 'count_list', query: params[:q], stanzas: @stanzas[type.pluralize]

:javascript
  $('.nav-tabs a').on("click", function(e) {
    var category = $(e.target).data('category');
    return $("select#category").val(category);
  });
