.main-container
  #search-methods-container
    %ul#search-methods-selector
      %li= link_to 'Facet', root_path
      %li= link_to 'Sequence', genomes_path
      %li= link_to 'ID converter', converter_path
      %li= link_to 'ID resolver', resolver_path
      %li.current Text
      %li.search-methods-visibility-button Hide

    #methods
      .method-container#textsearch-container
        .inner
          = render 'form', query: params[:q], selected: params[:category]

  #stanzas.row-fluid
    - if @error
      .alert.alert-error
        = @error
    - if @stanzas
      %ul.nav.nav-tabs
        - %w(gene organism environment phenotype).each do |type|
          %li{class: params[:category] == type ? 'active' : nil}
            %a{href: "##{type}", data: {toggle: :tab, category: type.to_sym}}= type.capitalize

      .tab-content
        - %w(gene organism environment phenotype).each do |type|
          .tab-pane{id: type, class: params[:category] == type ? 'active' : nil}
            = render 'count_list', query: params[:q], stanzas: @stanzas[type.pluralize]

:javascript
  $('.nav-tabs a').on("click", function(e) {
    var category = $(e.target).data('category');
    return $("select#category").val(category);
  });
