.main-container
  #search-methods-container
    %ul#search-methods-selector
      %li= link_to 'Facet', root_path
      %li= link_to 'Sequence', genomes_path
      %li= link_to 'ID converter', converter_path
      %li= link_to 'ID resolver', resolver_path
      %li.current Text
      %li.search-methods-visibility-button Hide

    #methods
      .method-container#textsearch-container
        .inner
          = render 'form', query: params[:q], selected: params[:category]

  #stanzas.row-fluid
    - if @error
      .alert.alert-error
        = @error
    - if @stanzas
      %ul.nav.nav-tabs
        %li.active
          %a{href: '#gene', data: {toggle: :tab, category: :gene_reports}} Gene
        %li
          %a{href: '#organism', data: {toggle: :tab, category: :organism_reports}} Organism
        %li
          %a{href: '#environment', data: {toggle: :tab, category: :environment_reports}} Environment
        %li
          %a{href: '#phenotype', data: {toggle: :tab, category: :phenotype_reports}} Phenotype

      .tab-content
        #gene.tab-pane.active
          = render 'count_list', query: params[:q], stanzas: @stanzas['genes']
        #organism.tab-pane
          = render 'count_list', query: params[:q], stanzas: @stanzas['organisms']
        #environment.tab-pane
          = render 'count_list', query: params[:q], stanzas: @stanzas['environments']
        #phenotype.tab-pane
          = render 'count_list', query: params[:q], stanzas: @stanzas['phenotypes']

:coffeescript
  $ ->
    # セレクトボックスで選択され描画された場合、その選択したタブを開く
    $("a[data-category='#{@category}']").tab('show')

    # タブを選択すると、セレクトボックスもそれを追随して選択する
    $('.nav-tabs a').on "click", (e) ->
      category =  $(e.target).data('category')
      $("select#category").val(category)
