.container-fluid
  #nav-wrapper
    #navbar.navbar
      .navbar-inner
        %ul.nav
          - Stanza.providers.togostanza.genes.each do |stanza|
            %li= link_to stanza.name, "##{stanza.id}"

  #header
    %h1 Gene: #{@taxonomic_id}:#{@locus_tag}

  %secti#nanostanzas.row-fluid
    - Stanza.providers.nanostanza.genes.each do |stanza|
      .nanostanza-container{data: {stanza: "#{Stanza.providers.nanostanza.url}/#{stanza.id}", stanza_tax_id: @taxonomic_id, stanza_gene_id: @locus_tag, nanostanza_span: stanza.span}}

  - Stanza.providers.togostanza.genes.each do |stanza|
    %section{id: stanza.id}
      .page-header
        %h2= stanza.name
      - stanza_attr = {stanza: "#{Stanza.providers.togostanza.url}/#{stanza.id}", stanza_tax_id: @taxonomic_id, stanza_gene_id: @locus_tag}
      %div{data: stanza_height(stanza, stanza_attr)}

= content_for :javascript do
  = javascript_include_tag "#{Stanza.providers.togostanza.url}/assets/stanza.js"
