.container-fluid
  #nav-wrapper
    #navbar.navbar
      .navbar-inner
        %ul.nav
          - Stanza.providers.genes.togostanza.each do |stanza|
            %li= link_to stanza.name, "##{stanza.uri.split('/').last}"

  #header.tg-report-header
    %p.tg-report-type Gene report
    %h1
      %span#tg-title-id #{@tax_id}:#{@gene_id}
      %span#tg-title-label #{@gene.name}

  %section#nanostanzas.row-fluid
    - Stanza.providers.genes.nanostanza.each do |stanza|
      .nanostanza-container{data: {stanza: stanza.uri, stanza_tax_id: @tax_id, stanza_gene_id: @gene_id, nanostanza_span: stanza.span}}

  - Stanza.providers.genes.togostanza.each do |stanza|
    %section{id: stanza.uri.split('/').last}
      .page-header
        %h2= stanza.name
      %div{data: {stanza: stanza.uri, stanza_tax_id: @tax_id, stanza_gene_id: @gene_id}}

= content_for :javascript do
  = javascript_include_tag "http://togogenome.org/stanza/assets/stanza.js"
