.container-fluid
  #nav-wrapper
    #navbar.navbar
      .navbar-inner
        %ul.nav
          - Stanza.providers.viruses.togostanza.each do |stanza|
            %li= link_to stanza.name, "##{stanza.uri.split('/').last}"

  #header.tg-report-header
    %p.tg-report-type Virus report
    %h1
      %span#tg-title-id= @virus_id
      %span#tg-title-label= @virus.name

  %section#nanostanzas.row-fluid
    - Stanza.providers.viruses.nanostanza.each do |stanza|
      .nanostanza-container{data: {stanza: stanza.uri, stanza_virus_id: @virus_id, nanostanza_span: stanza.span}}

  - Stanza.providers.viruses.togostanza.each do |stanza|
    %section{id: stanza.uri.split('/').last}
      .page-header
        %h2= stanza.name
      %div{data: {stanza: stanza.uri, stanza_virus_id: @virus_id}}

= content_for :javascript do
  = javascript_include_tag "http://togostanza.org/stanza/assets/stanza.js"
