.container-fluid
  #nav-wrapper
    #navbar.navbar
      .navbar-inner
        %ul.nav
          - Stanza.providers.togostanza.environments.each do |stanza|
            %li= link_to stanza.name, "##{stanza.id}"

  #header
    %h1 Environment #{@meo_id}

  %section#nanostanzas.row-fluid
    - Stanza.providers.nanostanza.environments.each do |stanza|
      .nanostanza-container{data: {stanza: "#{Stanza.providers.nanostanza.url}/#{stanza.id}", stanza_meo_id: @meo_id, nanostanza_span: stanza.span}}

  - Stanza.providers.togostanza.environments.each do |stanza|
    %section{id: stanza.id}
      .page-header
        %h2= stanza.name
      - stanza_attr = {stanza: "#{Stanza.providers.togostanza.url}/#{stanza.id}", stanza_meo_id: @meo_id}
      %div{data: stanza_height(stanza, stanza_attr)}

= content_for :javascript do
  = javascript_include_tag "#{Stanza.providers.togostanza.url}/assets/stanza.js"
