.container-fluid
  #nav-wrapper
    #navbar.navbar
      .navbar-inner
        %ul.nav
          - Stanza.providers.environments.togostanza.each do |stanza|
            %li= link_to stanza.name, "##{stanza.uri.split('/').last}"

  #header.tg-report-header
    %p.tg-report-type Environment report
    %h1
      %span#tg-title-id #{@meo_id}
      %span#tg-title-label #{@environment.name}

  %section#nanostanzas.row-fluid
    - Stanza.providers.environments.nanostanza.each do |stanza|
      .nanostanza-container{data: {stanza: stanza.uri, stanza_meo_id: @meo_id, nanostanza_span: stanza.span}}

  - Stanza.providers.environments.togostanza.each do |stanza|
    %section{id: stanza.uri.split('/').last}
      .page-header
        %h2= stanza.name
      - if stanza.key?('version') && stanza.version == 'js'
        %link{rel: "import", href: stanza.uri}
        = tag "togostanza-#{stanza.uri.split('/').last}", {meo_id: @meo_id}
      - else
        %div{data: {stanza: stanza.uri, stanza_meo_id: @meo_id}}

= content_for :javascript do
  = javascript_include_tag "http://togostanza.org/stanza/assets/stanza.js"
